In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import files

In [3]:
upload = files.upload()

Saving car-sales-extended.csv to car-sales-extended.csv

In [4]:
car_sales = pd.read_csv('/content/car-sales-extended.csv')

In [5]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [6]:
len(car_sales)

1000

In [7]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [8]:
#split the data into x and y
X = car_sales.drop(labels='Price', axis=1)
y = car_sales['Price']

In [10]:
#split into training and test
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=42)

In [11]:
from sklearn.ensemble import RandomForestRegressor

In [12]:
model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: ignored

In [14]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [16]:
categorical_features = ['Make','Colour','Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                  one_hot,
                                  categorical_features)],
                                remainder='passthrough')
transformed_X = transformer.fit_transform(X)

In [17]:
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [18]:
pd.DataFrame(transformed_X)

       0    1    2    3    4    5    6    7    8    9   10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [21]:
X = pd.get_dummies(X,columns=['Make','Colour','Doors'],drop_first=True)

In [22]:
X

     Odometer (KM)  Make_Honda  Make_Nissan  ...  Colour_White  Doors_4  Doors_5
0            35431           1            0  ...             1        1        0
1           192714           0            0  ...             0        0        1
2            84714           1            0  ...             1        1        0
3           154365           0            0  ...             1        1        0
4           181577           0            1  ...             0        0        0
..             ...         ...          ...  ...           ...      ...      ...
995          35820           0            0  ...             0        1        0
996         155144           0            1  ...             1        0        0
997          66604           0            1  ...             0        1        0
998         215883           1            0  ...             1        1        0
999         248360           0            0  ...             0        1        0

[1000 rows x 10 columns]

In [23]:
pd.DataFrame(X)

     Odometer (KM)  Make_Honda  Make_Nissan  ...  Colour_White  Doors_4  Doors_5
0            35431           1            0  ...             1        1        0
1           192714           0            0  ...             0        0        1
2            84714           1            0  ...             1        1        0
3           154365           0            0  ...             1        1        0
4           181577           0            1  ...             0        0        0
..             ...         ...          ...  ...           ...      ...      ...
995          35820           0            0  ...             0        1        0
996         155144           0            1  ...             1        0        0
997          66604           0            1  ...             0        1        0
998         215883           1            0  ...             1        1        0
999         248360           0            0  ...             0        1        0

[1000 rows x 10 columns]

In [25]:
#split into training and test
X_train, X_test, y_train, y_test = train_test_split(transformed_X,y, test_size=0.20, random_state=42)

In [26]:
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [27]:
model.score(X_test, y_test)

0.2898208542668742

In [28]:
X.head()

   Odometer (KM)  Make_Honda  Make_Nissan  ...  Colour_White  Doors_4  Doors_5
0          35431           1            0  ...             1        1        0
1         192714           0            0  ...             0        0        1
2          84714           1            0  ...             1        1        0
3         154365           0            0  ...             1        1        0
4         181577           0            1  ...             0        0        0

[5 rows x 10 columns]