In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import files

In [ ]:
file_1 = files.upload()

Saving Movie_classification.csv to Movie_classification.csv
Saving Movie_regression.csv to Movie_regression.csv

In [ ]:
df = pd.read_csv('/content/Movie_regression.csv', header=0)

In [ ]:
df.head()

   Marketing expense  Production expense  ...  Num_multiplex  Collection
0            20.1264               59.62  ...            494       48000
1            20.5462               69.14  ...            462       43200
2            20.5458               69.14  ...            458       69400
3            20.6474               59.36  ...            472       66800
4            21.3810               59.36  ...            395       72400

[5 rows x 18 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [ ]:
len(df)

506

In [ ]:
df['Time_taken'].mean()

157.39149797570855

In [ ]:
df['Time_taken'] = df['Time_taken'].fillna(value= df['Time_taken'].mean())

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [ ]:
df['Time_taken']

0      109.60
1      146.64
2      147.88
3      185.36
4      176.48
        ...
501    186.96
502    132.24
503    109.56
504    158.80
505    205.60
Name: Time_taken, Length: 506, dtype: float64

In [ ]:
df['3D_available'].head()

0    YES
1     NO
2     NO
3    YES
4     NO
Name: 3D_available, dtype: object

In [ ]:
df['Genre'].head()

0    Thriller
1       Drama
2      Comedy
3       Drama
4       Drama
Name: Genre, dtype: object

In [ ]:
df = pd.get_dummies(df,columns=['3D_available','Genre'],drop_first=True)

In [ ]:
df.head()

   Marketing expense  Production expense  ...  Genre_Drama  Genre_Thriller
0            20.1264               59.62  ...            0               1
1            20.5462               69.14  ...            1               0
2            20.5458               69.14  ...            0               0
3            20.6474               59.36  ...            1               0
4            21.3810               59.36  ...            1               0

[5 rows x 20 columns]

In [ ]:
df

     Marketing expense  Production expense  ...  Genre_Drama  Genre_Thriller
0              20.1264               59.62  ...            0               1
1              20.5462               69.14  ...            1               0
2              20.5458               69.14  ...            0               0
3              20.6474               59.36  ...            1               0
4              21.3810               59.36  ...            1               0
..                 ...                 ...  ...          ...             ...
501            21.2526               78.86  ...            0               0
502            20.9054               78.86  ...            0               0
503            21.2152               78.86  ...            0               0
504            22.1918               78.86  ...            0               0
505            20.9482               78.86  ...            0               0

[506 rows x 20 columns]

In [ ]:
X = df.drop(columns='Collection', axis=1)

In [ ]:
X.head()

   Marketing expense  Production expense  ...  Genre_Drama  Genre_Thriller
0            20.1264               59.62  ...            0               1
1            20.5462               69.14  ...            1               0
2            20.5458               69.14  ...            0               0
3            20.6474               59.36  ...            1               0
4            21.3810               59.36  ...            1               0

[5 rows x 19 columns]

In [ ]:
y = df['Collection']

In [ ]:
y

0      48000
1      43200
2      69400
3      66800
4      72400
       ...
501    44800
502    41200
503    47800
504    44000
505    38000
Name: Collection, Length: 506, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test , y_train , y_test = train_test_split(X,y , test_size=0.2, random_state=0)

In [ ]:
x_train.shape, x_test.shape

((404, 19), (102, 19))

In [ ]:
x_train.head()

     Marketing expense  Production expense  ...  Genre_Drama  Genre_Thriller
220            27.1618               67.40  ...            0               1
71             23.1752               76.62  ...            0               0
240            22.2658               64.86  ...            0               0
6              21.7658               70.74  ...            0               1
417           538.8120               91.20  ...            0               0

[5 rows x 19 columns]

In [ ]:
from sklearn import tree

In [ ]:
regtree = tree.DecisionTreeRegressor(max_depth=3)

In [ ]:
regtree.fit(x_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=3,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
y_train_pred = regtree.predict(x_train)

In [ ]:
y_test_pred = regtree.predict(x_test)

In [ ]:
y_train_pred

array([ 65183.33333333,  46187.35632184,  65183.33333333,  46187.35632184,
        23514.28571429,  35137.77777778,  46187.35632184,  46187.35632184,
        65183.33333333,  23514.28571429,  35137.77777778,  35137.77777778,
        35137.77777778,  35137.77777778,  23514.28571429,  46187.35632184,
        23514.28571429,  91860.86956522,  46187.35632184,  23514.28571429,
        35137.77777778,  46187.35632184,  46187.35632184,  35137.77777778,
        65183.33333333,  35137.77777778,  46187.35632184,  65183.33333333,
        23514.28571429,  23514.28571429,  35137.77777778,  35137.77777778,
        23514.28571429,  65183.33333333,  46187.35632184,  35137.77777778,
        46187.35632184,  23514.28571429,  23514.28571429,  46187.35632184,
        65183.33333333,  46187.35632184,  46187.35632184,  35137.77777778,
        65183.33333333,  65183.33333333,  23514.28571429,  23514.28571429,
        46187.35632184,  46187.35632184,  35137.77777778,  46187.35632184,
        35137.77777778,  46187.35632184,  35137.77777778,  35137.77777778,
        46187.35632184,  35137.77777778,  23514.28571429,  46187.35632184,
        65183.33333333,  65183.33333333,  65183.33333333,  46187.35632184,
        46187.35632184,  46187.35632184,  46187.35632184,  23514.28571429,
        46187.35632184,  23514.28571429,  35137.77777778,  46187.35632184,
        35137.77777778,  23514.28571429,  35137.77777778,  35137.77777778,
        65183.33333333,  46187.35632184,  23514.28571429,  23514.28571429,
        46187.35632184,  46187.35632184,  35137.77777778,  46187.35632184,
        46187.35632184,  46187.35632184,  91860.86956522,  35137.77777778,
        23514.28571429,  65183.33333333,  65183.33333333,  46187.35632184,
        91860.86956522,  46187.35632184,  46187.35632184,  35137.77777778,
        46187.35632184,  91860.86956522,  46187.35632184,  46187.35632184,
        91860.86956522,  65183.33333333,  35137.77777778,  46187.35632184,
        35137.77777778,  46187.35632184,  46187.35632184,  46187.35632184,
        46187.35632184,  46187.35632184,  23514.28571429,  46187.35632184,
        46187.35632184,  23514.28571429,  35137.77777778,  46187.35632184,
        23514.28571429,  65183.33333333,  23514.28571429,  35137.77777778,
        35137.77777778,  35137.77777778,  46187.35632184,  46187.35632184,
        35137.77777778,  46187.35632184,  46187.35632184,  46187.35632184,
        35137.77777778,  46187.35632184,  46187.35632184,  65183.33333333,
        35137.77777778,  46187.35632184,  23514.28571429,  46187.35632184,
        65183.33333333,  35137.77777778,  43800.        ,  46187.35632184,
        46187.35632184,  35137.77777778,  65183.33333333,  46187.35632184,
        46187.35632184,  35137.77777778,  65183.33333333,  35137.77777778,
        23514.28571429,  23514.28571429,  23514.28571429,  91860.86956522,
        35137.77777778,  35137.77777778,  65183.33333333,  46187.35632184,
        35137.77777778,  65183.33333333,  46187.35632184,  46187.35632184,
        35137.77777778,  46187.35632184,  46187.35632184,  23514.28571429,
        46187.35632184,  46187.35632184,  46187.35632184,  23514.28571429,
        46187.35632184,  35137.77777778,  35137.77777778,  46187.35632184,
        35137.77777778,  46187.35632184,  23514.28571429,  35137.77777778,
        35137.77777778,  35137.77777778,  46187.35632184,  46187.35632184,
        46187.35632184,  46187.35632184,  23514.28571429,  65183.33333333,
        35137.77777778,  91860.86956522,  46187.35632184,  65183.33333333,
        46187.35632184,  35137.77777778,  35137.77777778,  46187.35632184,
        35137.77777778,  46187.35632184,  91860.86956522,  46187.35632184,
        23514.28571429,  65183.33333333,  46187.35632184,  46187.35632184,
        46187.35632184,  35137.77777778,  46187.35632184,  46187.35632184,
        46187.35632184,  23514.28571429,  46187.35632184,  91860.86956522,
        91860.86956522,  46187.35632184,  65183.33333333,  46187.35632184,
        35137.77777778,  35137.77777778,  46187.35632184,  46187.35632184,
        46187.35632184,  35137.77777778,  23514.28571429,  35137.77777778,
        65183.33333333,  65183.33333333,  46187.35632184,  35137.77777778,
        46187.35632184,  23514.28571429,  46187.35632184,  46187.35632184,
        23514.28571429,  46187.35632184,  46187.35632184,  46187.35632184,
        46187.35632184,  91860.86956522,  23514.28571429,  65183.33333333,
        46187.35632184,  46187.35632184,  91860.86956522,  46187.35632184,
        46187.35632184,  46187.35632184,  28800.        ,  46187.35632184,
        65183.33333333,  46187.35632184,  35137.77777778,  65183.33333333,
        28800.        ,  46187.35632184,  65183.33333333,  65183.33333333,
        46187.35632184,  28800.        ,  35137.77777778,  65183.33333333,
        46187.35632184,  35137.77777778,  46187.35632184,  46187.35632184,
        46187.35632184,  46187.35632184,  35137.77777778,  23514.28571429,
        23514.28571429,  23514.28571429,  35137.77777778,  65183.33333333,
        46187.35632184,  23514.28571429,  46187.35632184,  46187.35632184,
        35137.77777778,  46187.35632184,  23514.28571429,  46187.35632184,
        46187.35632184, 100000.        ,  46187.35632184,  91860.86956522,
        65183.33333333,  65183.33333333,  46187.35632184,  65183.33333333,
       100000.        ,  91860.86956522,  46187.35632184,  46187.35632184,
        46187.35632184,  23514.28571429,  46187.35632184,  46187.35632184,
        46187.35632184,  35137.77777778,  65183.33333333,  23514.28571429,
        23514.28571429,  35137.77777778,  46187.35632184,  65183.33333333,
        35137.77777778,  35137.77777778,  46187.35632184,  91860.86956522,
        23514.28571429,  35137.77777778,  23514.28571429,  46187.35632184,
        91860.86956522,  46187.35632184,  91860.86956522,  46187.35632184,
        46187.35632184,  35137.77777778,  23514.28571429,  35137.77777778,
        35137.77777778,  23514.28571429,  46187.35632184,  46187.35632184,
        91860.86956522,  46187.35632184,  46187.35632184,  65183.33333333,
        46187.35632184,  23514.28571429,  46187.35632184,  91860.86956522,
        23514.28571429,  35137.77777778,  46187.35632184,  35137.77777778,
        23514.28571429,  35137.77777778,  91860.86956522,  23514.28571429,
        46187.35632184,  23514.28571429,  46187.35632184,  23514.28571429,
        23514.28571429,  46187.35632184,  65183.33333333,  46187.35632184,
        46187.35632184,  65183.33333333,  91860.86956522,  46187.35632184,
        46187.35632184,  91860.86956522,  35137.77777778,  35137.77777778,
        35137.77777778,  46187.35632184,  35137.77777778,  23514.28571429,
        46187.35632184,  23514.28571429,  23514.28571429,  46187.35632184,
        35137.77777778,  46187.35632184,  35137.77777778,  46187.35632184,
        65183.33333333,  46187.35632184,  23514.28571429,  23514.28571429,
        46187.35632184,  65183.33333333,  46187.35632184,  46187.35632184,
        35137.77777778,  23514.28571429,  46187.35632184,  46187.35632184,
        46187.35632184,  35137.77777778,  46187.35632184,  46187.35632184,
        35137.77777778,  46187.35632184,  35137.77777778,  46187.35632184,
        46187.35632184,  46187.35632184,  23514.28571429,  65183.33333333,
        35137.77777778,  46187.35632184,  46187.35632184,  46187.35632184,
        46187.35632184,  46187.35632184,  35137.77777778,  35137.77777778,
        35137.77777778,  91860.86956522,  46187.35632184,  46187.35632184,
        65183.33333333,  46187.35632184,  35137.77777778,  35137.77777778])

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
mean_squared_error(y_test, y_test_pred)

133822721.29403791

In [ ]:
y_train_pred[0], y_train[0]

(65183.333333333336, 48000)

In [ ]:
r2_score(y_test,y_test_pred)

0.5843041891011781

In [ ]:
r2_score(y_train, y_train_pred)

0.8364651040556869

In [ ]:
y_test_pred[0]

46187.35632183908